body
{
  background-color:#f5f5f5;
 font-size:15px;
}

.container1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
	float:center;
}



.fold 
{
    position: relative;
    width: 90%;
	height:650px;
    background:rgb(230,230,250) ;
    transform-origin: top;
    padding: 30px 20px;
    box-sizing: border-box;
    transition: .5s;
    transform: perspective(2000px) rotateX(90deg);
	 color: black;
	 float:center;
	 border:3px solid gray;
}


.fold1
{
    position: relative;
    width: 50%;
	height:590px;
    background:rgb(230,230,250);
    transform-origin: top;
    padding: 30px 20px;
    box-sizing: border-box;
    transition: .5s;
    transform: perspective(2000px) rotateX(90deg);
	 color: black;
	 float:center;
	 border:3px solid gray;
}

.fold , .active,.fold1
{
    transform: perspective(2000px) rotateX(0deg);
}
.fold form input[type="date"],
.fold form input[type="text"],
.fold form input[type="password"]
{
    width: 30%;
    margin-bottom: 20px;
    height: 35px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: none;
    outline: none;
    color: black;
    background: transparent;
    border: 3px solid gray;
	
	float:center;
}
::placeholder
{
    color: black;
}
.fold form input[type="submit"]
{
	width:200px;
    display: block;
    padding: 12px 40px;
    border-radius: 40px;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: #247ebf;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
	float:center;
}
.fold input[type="date"],
.fold form input[type="submit"]:hover
{
	
    background: darkblue;
}
.upload [type=submit] {
  width: 45%;
  background-color: #247ebf ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float:right;
}

 .gender {

   width: 45%;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 40px;
   overflow:hidden;
    outline: none;
     color: black;
    background: transparent;
    border: 3px solid gray;
}
 
select option {
    margin: 40px;
    background: rgb(230,230,250);
    color: black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	border-radius:40px;
	
}

 

*
{
box-sizing;
 border-box;
 }
.topnav {
  overflow: hidden;
  background-color: #333333;
  width : 90%;
  height:60px;
  float : center;
  border-radius:50px;
  border:3px solid gray;
}
.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}.topnav a:hover {
  background-color:#ffff;
  color: black;
  border-radius:15px;
}
.topnav b {
  float: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}.topnav a:hover {
  background-color:#ffff;
  color: black;
}


input[type=submit] {
  width: 40%;
  background-color: #247ebf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float:center;
}
 input[type="submit"]:hover
{
	
    background:darkblue ;
}

 